html {
  font-size: 10px;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

html,
body {
  height: 100%;
}

body {
  background: white;
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.875;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------- 
 * ## links
 * ------------------------------------------------------------------- */
a {
  color: #0054a5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #000000;
}

a:hover,
a:active {
  outline: 0;
}

/* ===================================================================
 * # typography & general theme styles
 * 
 * ------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "librebaskerville-bold", serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin-top: 6rem;
  margin-bottom: 1.8rem;
}

@media only screen and (max-width: 600px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    margin-top: 5.1rem;
  }
}

h5,
.h5,
h6,
.h6 {
  margin-top: 4.2rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
  h5,
  .h5,
  h6,
  .h6 {
    margin-top: 3.6rem;
    margin-bottom: 0.9rem;
  }
}

h1,
.h1 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

@media only screen and (max-width: 600px) {
  h1,
  .h1 {
    font-size: 3.3rem;
    letter-spacing: -.07rem;
  }
}

h2,
.h2 {
  font-size: 3rem;
  line-height: 1.3;
}

@media only screen and (max-width: 600px) {
  h2,
  .h2 {
    font-size: 2.8rem;
  }
}

h3,
.h3 {
  font-size: 2.4rem;
  line-height: 1.25;
}

h4,
.h4 {
  font-size: 2.1rem;
  line-height: 1.286;
}

h5,
.h5 {
  font-size: 1.6rem;
  line-height: 1.313;
}

h6,
.h6 {
  font-size: 1.3rem;
  line-height: 1.385;
  text-transform: uppercase;
  letter-spacing: .16rem;
}

em,
i,
strong,
b {
  font-size: inherit;
  line-height: inherit;
  font-style: normal;
  font-weight: normal;
}

em,
i {
  font-family: "metropolis-italic", sans-serif;
}

strong,
b {
  font-family: "metropolis-bold", sans-serif;
}

small {
  font-size: 1.2rem;
  line-height: inherit;
}

blockquote {
  margin: 3.9rem 0;
  padding-left: 4.5rem;
  position: relative;
}

blockquote:before {
  content: "\201C";
  font-size: 10rem;
  line-height: 0px;
  margin: 0;
  color: rgba(0, 0, 0, 0.25);
  font-family: arial, sans-serif;
  position: absolute;
  top: 3.6rem;
  left: 0;
}

blockquote p {
  font-family: "metropolis-medium", sans-serif;
  padding: 0;
  font-size: 2.1rem;
  line-height: 1.857;
  color: #000000;
}

blockquote cite {
  display: block;
  font-family: "metropolis-medium", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.4;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: #727272;
  border: none;
}

abbr {
  font-family: "metropolis-bold", sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .05rem;
  color: #727272;
}

var,
kbd,
samp,
code,
pre {
  font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
  padding: 2.4rem 3rem 3rem;
  background: #F1F1F1;
  overflow-x: auto;
}

code {
  font-size: 1.4rem;
  margin: 0 .2rem;
  padding: .3rem .6rem;
  white-space: nowrap;
  background: #e5e5e5;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

pre > code {
  display: block;
  white-space: pre;
  line-height: 2;
  padding: 0;
  margin: 0;
}

pre.prettyprint > code {
  border: none;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

mark {
  background: #ffd900;
  color: #000000;
}

hr {
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0;
  clear: both;
  margin: 2.4rem 0 1.5rem;
  height: 0;
}

/* ------------------------------------------------------------------- 
 * ## Lists
 * ------------------------------------------------------------------- */
ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  display: list-item;
}

ol,
ul {
  margin-left: 1.7rem;
}

ul li {
  padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
  display: list-item;
  list-style: none;
  padding: 0 0 0 .8rem;
  position: relative;
}

ul.disc li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #0054a5;
  position: absolute;
  left: -17px;
  top: 11px;
  vertical-align: middle;
}

dt {
  margin: 0;
  color: #0054a5;
}

dd {
  margin: 0 0 0 2rem;
}

table {
  border-width: 0;
  width: 100%;
  max-width: 100%;
  font-family: "metropolis-regular", sans-serif;
}

th,
td {
  padding: 1.5rem 3rem;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

th {
  color: #000000;
  font-family: "metropolis-bold", sans-serif;
}

td {
  line-height: 1.5;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* ------------------------------------------------------------------- 
 * ## spacing 
 * ------------------------------------------------------------------- */
button,
.btn {
  margin-bottom: 1.2rem;
}

fieldset {
  margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.video-container,
.cl-custom-select {
  margin-bottom: 3rem;
}

/* ===================================================================
 * # preloader
 *
 * ------------------------------------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

#loader img {
  position: fixed;
  width: 50px;
  height: 80px;
  -webkit-animation: strech 2.5s linear infinite alternate;
  animation: strech 2.5s linear infinite alternate;
}

@-webkit-keyframes strech {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
  }
  25% {
    -webkit-transform: scale(0.8) rotate(-90deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(-180deg);
  }
  75% {
    -webkit-transform: scale(1.2) rotate(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
  }
}

@keyframes strech {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  25% {
    -webkit-transform: scale(0.8) rotate(-90deg);
            transform: scale(0.8) rotate(-90deg);
  }
  50% {
    -webkit-transform: scale(1) rotate(180deg);
            transform: scale(1) rotate(180deg);
  }
  75% {
    -webkit-transform: scale(1.2) rotate(-180deg);
            transform: scale(1.2) rotate(-180deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

/*------------------------------
--------------------------------
Loaded Screen
--------------------------------*/
.lcr,
.lcr img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*------------------------------
--------------------------------
Header
--------------------------------*/
header {
  height: 41vh;
  width: 100%;
  background: #000000;
  position: fixed;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 800;
}

.toggle {
  display: none;
}

.hed {
  position: absolute;
  color: white;
  left: 37%;
  top: 22vh;
  font-size: 20px;
  z-index: 900;
  cursor: default;
}

.logo {
  position: absolute;
  height: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 1vh;
  left: 0;
}

.logo img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.social-header-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 1%;
  top: 2vh;
}

.social-header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.social-header-a {
  font-size: 25px;
  color: white;
  padding: 5px;
}

.header-nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  z-index: 950;
}

.nav-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.nav-sub-menu {
  list-style: none;
  display: none;
}

.social-header-a:hover {
  opacity: 0.6;
  color: pink;
}

.social-header-ul li::after {
  content: '';
  display: block;
  font-size: 26px;
  height: 2px;
  background: pink;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.social-header-ul li:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav-ul li::after {
  content: '';
  display: block;
  height: 2px;
  background: pink;
  width: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.nav-ul li:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.current a {
  color: lightblue;
}

.nav-a:hover {
  color: pink;
  opacity: 0.8;
}

.nav-active:hover {
  color: lightblue;
  opacity: 1;
}

.nav-ul .current::after {
  display: block;
  height: 2px;
  background: lightblue;
  width: 100%;
  opacity: 0.8;
}

/* ========================
--------------------------------
Mobile Navigation
--------------------------------*/
.toggle {
  position: absolute;
  top: 2vh;
  left: 5%;
  z-index: 950;
  display: block;
}

.toggle:hover {
  opacity: 0.8;
  cursor: pointer;
}

.toggle:hover span:nth-child(1) {
  width: 25px;
}

.toggle:hover span:nth-child(3) {
  width: 25px;
}

.toggle:hover span:nth-child(2) {
  width: 15px;
}

.toggle span {
  position: relative;
  width: 15px;
  height: 3px;
  background: white;
  display: block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-bottom: 5px;
}

.toggle span:nth-child(1) {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.toggle span:nth-child(2) {
  width: 25px;
}

.toggle span:nth-child(3) {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.toggle .active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.toggle .active span:nth-child(1) {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.toggle .active span:nth-child(3) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

/* ========================
--------------------------------
Header Responsive
--------------------------------*/
@media only screen and (max-width: 1200px) {
  header {
    height: 35vh;
  }
  .logo {
    height: 25vh;
  }
  .hed {
    top: 18vh;
    font-size: 17px;
    left: 34.5%;
  }
  .nav-a {
    font-size: 18px;
  }
  .social-header-a {
    font-size: 20px;
    padding: 4px;
  }
}

@media only screen and (max-width: 1000px) {
  .hed {
    top: 17vh;
    font-size: 16px;
    left: 31%;
  }
  .logo {
    top: 0vh;
  }
  header {
    height: 34vh;
  }
  .social-header-a {
    font-size: 19px;
    padding: 3px;
  }
}

@media only screen and (max-width: 900px) {
  .hed {
    font-size: 15px;
    top: 13vh;
    left: 31%;
  }
  header {
    height: 30vh;
  }
  .logo {
    height: 21vh;
  }
}

@media only screen and (max-width: 800px) {
  .hed {
    top: 13vh;
    font-size: 13px;
    left: 31%;
  }
  header {
    height: 30vh;
  }
}

@media only screen and (max-width: 770px) {
  .header-nav-wrap {
    display: none;
  }
  header {
    height: 28vh;
  }
  .logo {
    height: 25vh;
  }
  .hed {
    top: 17vh;
    font-size: 16px;
    left: 25%;
  }
  .toggle {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 27vh;
  }
  .logo {
    height: 24vh;
  }
  .hed {
    top: 17vh;
    font-size: 14px;
    left: 18%;
  }
  .social-header-a {
    font-size: 19px;
    padding: 3px;
  }
}

@media only screen and (max-width: 450px) {
  .hed {
    font-size: 10px;
    left: 11%;
  }
  .social-header-a {
    font-size: 15px;
    padding: 2px;
  }
}

@media only screen and (max-width: 300px) {
  .hed {
    font-size: 8px;
    left: 11%;
  }
  .social-header-a {
    font-size: 12px;
    padding: 1px;
  }
}

@media only screen and (max-width: 250px) {
  header {
    width: 250px;
  }
}

/* ========================
--------------------------------
Main Content
--------------------------------*/
main {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 950;
  margin: 40vh 3em 0em 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-text {
  line-height: 1.8em;
  font-size: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  background: white;
  color: black;
  -webkit-text-fill-color: transparent;
}

.main-text-p,
.main-text-head {
  background: -webkit-linear-gradient(transparent, transparent), url("../images/winter.jpg");
  background: -o-linear-gradien(transparent, transparent);
  background: -moz-linear-gradien(transparent, transparent);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
}

.main-text-head {
  font-weight: 1000;
  text-decoration: underline;
}
/*# sourceMappingURL=home.css.map */